<h1>Welcome to the Home Page</h1>
<p>Name: <%= name %></p>
<p>Year: <%= year %></p>
<p>Company: <%= company %></p>
<p>Date: <%= Date %></p>


<!-- implementing for loop -->
<ul>
  <% for(let i = 0; i < items.length; i++) { %>
    <li><%= items[i] %></li>
  <% } %>
</ul>
<!-- implemting if-else condition -->
 <% if(user) { %>
  <p> Hello, <%= user %>! Welcome back!</p>
<% } else { %>
  <p> Hello, Guest! Please log in.</p>
<% } %> 
<!-- implementing switch case -->
 <% switch(role) { %>
  <% case 'admin': %>
    <p> You have administrative privileges. </p>
    <% break; %>
  <% case 'user': %>
    <p> You are logged in as a user. </p>
    <% break; %>
  <% default: %>
    <p> You are browsing as a guest. </p>
<% } %>